.action-btn {
    background-color: #A0001E;
    border: 1px solid #979797;
    color: white;
    font-size: 3rem;
    list-style: none;
    padding: 20px 10px;
    text-align: center;
    width: 25%;
}